<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxxyjade.hiphopghetto.mapper.AlbumCollectMapper">

    <select id="selectOrInsert" resultType="java.lang.Boolean">
        insert ignore into album_collect (user_id, album_id, collect)
        values (#{userId}, #{albumId}, false);

        select collect
        from album_collect
        where user_id = #{userId}
        and album_id = #{albumId};
    </select>

</mapper>